@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #f4f5f7;
  /* background: #6c86fd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "vazir";
}
h1 {
  color: #2a2d53;
}
