@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary-200: #7a7c94;
  --color-secondary-900: #2a2d53;
  --color-modal: rgba(0, 0, 0, 0.5);
}

@layer components {
  .btn {
    @apply p-2.5 rounded-[6px] block cursor-pointer;
  }
  h1 {
    @apply text-4xl font-bold my-2.5;
  }
  .input-textField {
    @apply py-3 px-1.5 rounded-[6px] w-full border outline-0;
  }
  .text-truncate {
    @apply text-ellipsis overflow-hidden text-nowrap;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "vazir", sans-serif;
  background: #f4f5f7;
  color: var(--foreground);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fdebd0 inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mask-image {
  mask-image: linear-gradient(1deg, rgba(255, 255, 255, 0) 1%, #f4f5f7 18%);
}
.scroll-swipe {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1200px;
  }
}
